.SubHeader{
     background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Icon{
    font-size: smaller;
}
.ImgContainer{
    margin-bottom: 3px;
}

.TextContainer{
    color: var(--text);
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}
.BoxContainer{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 4px;
}
.ButtonContainer{
    padding: 8px;
}
.Button{
    font-size: 11px;
    background-color: var(--text);
    color: var(--bg);
    padding:1px 8px;
    border-radius:6px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}
.BoxContainer:hover{
    cursor: pointer;
}
@media screen and (max-width:990px) {
    .SubHeader{
        display:none;
    }
    
}
/* @media screen and (max-width: 1751px ) {
    .TextContainer{
        font-size: large;
    }
    .Button{
        font-size: large;
    }
    .Icon{
        font-size:large;
    }
    
}

@media screen and (min-width: 1750px){
    .TextContainer,.Button{
        font-size: medium;
    }
    .Icon{
        font-size:large;
    }

} */
/* @media screen and (max-width: 1536px) {
        .TextContainer , .Button,.Icon{
            font-size: medium;
        }
}

@media screen and (max-width: 1280px) {
    .TextContainer{
        font-size: small;
    }
    .Button{
        font-size: small;
    }
    .Icon{
        font-size: medium;
    }
}

@media screen and (max-width: 1024px) {
    .TextContainer,.Button {
        font-size: small;
    }
    .Icon{
        font-size: medium;
    }
  }

  @media  screen and (max-width: 912px) {
    .TextContainer , .Button {
        font-size: x-small;
    }
  }



  @media  screen and (max-width:768px){
    .SubHeader{
        display: none;
    }
    
  } */