.Container{
    width: 100%;
    background-color: #f6f6f6;
    padding: 20px 0;

}
.Top{
    display: flex;
    justify-content:space-around;
    align-items:center;
    gap: 30px;
    width: 75%;
    margin: 0 auto;

}
.ImageContainer{
    border-radius: 16px;
    width: 125%;
    height: 225px;
    position: relative;
}
.Title{
    padding: 5px;
    font-size: xx-large;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.TextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.Image{
    width: 100%;
    height:100%;
    object-fit: fill;
    border-radius: 16px;
    position: relative;
}
.Text{
    padding: 5px;
    margin-top: 5px;
    font-size: medium;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

@media screen and (max-width: 900px) {
    .Top{
        width:95%;  
    }
}

@media screen and (max-width: 1300px) {
    .Top{
        width:90%;  
    }
}


@media screen and (max-width:768px) {
    .Top{
        flex-direction: column;
        width: 95%;
        margin: auto;
    }
    .ImageContainer{
        width: 60%;
    }
    .Title{
        text-align: center;
    }
    .Text{
        text-align: center;
    }
}

@media screen and (max-width:580px) {
    .ImageContainer{
        width: 90%;
    }
    
}