.Container{
    margin-top: 30px;
    background-color: #f6f6f6;
    width: 100%;
}

.Title{
    font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.Subcontainer {
  padding: 0px 80px;
}

/* .Title {
  font-size: xx-large;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal; 
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: black;
  text-align: center;
} */

.Text {
  font-size: large;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
  text-align: center;
}

.Slider {
  padding: 30px 0px;
  background-color: #fff;
  width: 80%;
  margin: auto;
  /* box-shadow: 0 5px 30px 0 rgba(24, 114, 221, 0.2); */
  overflow: hidden; /* Hide the horizontal scrollbar */
}

.ImageContainer {
  /* box-shadow: 0 0 0 1px var(--bg); */
  box-shadow: 0 5px 10px 0 rgba(24, 114, 221, 0.2);
  background-color: #fff;

  margin: 10px;
  border-radius: 16px;
  padding :10px 5px 5px 15px;
  width: calc(100% - 20px);
}

.Image {
  max-width: 100%;
  max-height: 100%;
}

.CompanyName {
  margin-top: 10px;
  font-size: large;
  font-weight: 600;
  margin: 2px;

}

@media screen and (max-width: 768px) {
  .Subcontainer {
    padding: 20px 10px;
  }
  .Slider{
    padding: 30px 0px;
    background-color: #fff;
    width: 100%;
    margin: auto;
    /* box-shadow: 0 5px 30px 0 rgba(24, 114, 221, 0.2); */
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .ImageContainer {
    margin: 5px;
    padding: 5px;
  }
}
