/* page.module.css */
.BackgroundImage {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/BG.jpg');
    opacity: 0.08;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .ImageBox{
    border-radius: 8px; 
    width: 100%; 
    height: 100%; 
  }
  .Container {
    width: 85%; 
    margin: auto;
  }
  .Text{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
    width: 90%;
    margin: 20px auto;
  }
  .Cont{
    width:100%;
  }
  
  .TextContainer {
    padding: 20px;
  }
  
  .ImageContainer {
    position: relative;
    padding-bottom: 20px; 
    border-radius: 12px;
    width: 80%;
    height: 400px;
  }
  
  .OverlayContainer {
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 5px 30px 0 rgba(24, 114, 221, 0.2); 
    border-radius: 12px;
  }

  .Partner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
  }
  .Head{
    text-align: center;
    font-size: 22px;
    font-weight: 500; 
    color: black;
    padding: 5px;
  }
  .ImgLogoOne{
    width: 20%;
    height: 40px;
    position: relative;
  }
  .ImgLogoTwo{
    position: relative;
    width: 30%;
    height: 70px;
  }
  
  .OverlayContent {
    padding: 2px;
  }
  
  @media (max-width: 768px) {
    .TextContainer,
    .ImageContainer {
      padding: 10px;
    }
    .ImageContainer{
      height: 350px;
    }
    
    
  }

  @media screen and (max-width: 600px) {
    .ImgLogoOne{
      height:35px;
    }
    .ImgLogoTwo{
      height:60px;
    }
    .Text{
      width:95%;
    }
  }
  
