/* page.module.css */
.Container {
    padding: 14px 80px;
    background-color: var(--text);
    width: 100%;
    margin : 25px 0;
    padding: 10px 0;
}
.VideoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 225px;
    width: 350px;
}

.VideoStyle {
    width: 100%;
    height: 100%;
}

.ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 275px;
    width: 400px;
}

.TextContainer {
    padding: 0 20px;
    text-align: center;
}
.ImageStyle{
    /* position: relative; */
    height: 300px;
    width: 300px;
}
@media (max-width: 768px) {
    .TextContainer {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .Container{
        padding: 14px 40px;
    }
    .ImageContainer{
        height : 200px;
        width : 200px;
    }
    .VideoContainer{
        width : 300px;
    }
}