
.Container {
    background-color: var(--text);
    width: 90%;
    margin: 90px auto 30px auto;
    padding:5px;
}
.VideoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 225px;
    width: 350px;
}

.VideoStyle {
   width: 350px;
   height: 225px;
}
.Box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.DescTitle{
    font-weight: 500;
    padding : 5px;
    color: black;
    font-size :32px;
    text-align: center;
}
.Description{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    padding: 5px;
    width: 85%;
    margin: 0 auto;
}

.ImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 275px;
    width: 400px;
}

.TextContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
    color: black;
    width: 100%;
}
.ImageStyle{
    /* position: relative; */
    height: 300px;
    width: 300px;
}
@media (max-width: 768px) {
    .TextContainer {
        padding: 5px;
    }
    .Description{
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
   
    .ImageContainer{
        height : 200px;
        width : 200px;
    }
    .VideoContainer{
        width : 300px;
    }
    .VideoStyle{
        width : 300px;
    }
}

@media screen and (max-width: 768px) {
    .Box{
        flex-direction: column;
    }
    .Container{
        background-color: var(--text);
        width: 95%;
        margin: 90px auto 30px auto;
    }
    .Description{
        width:95%;
        margin: auto;
    }
}