/* .container{
  background-color: var(--text);
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Box{
  background-color: var(--bg);
} */

button.slick-prev:before, .slick-next::before {
  color: var(--bg);
}

.slick-arrow, .slick-next{
  color: var(--bg);
}