.BotmFooter{
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-weight: 600;
    width: 100%;
}
.EndLine{
    font-size:16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color:black;
    margin : 2px;
}
.ComDesc{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    /* color: #707070; */
    color: black;
    margin: 4px;
}
.Logo{
    font-size: 16px;
}
.TopCon{
    margin:0;
}
@media screen and (min-width: 1400px) {
    .TopCon{
        margin-left: 4%;
    }
    .BotmFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    width: 100%;
    margin-left: 2%;
    }
}
.Contacts{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    /* color: #707070; */
    color: black;
    margin: 4px;

}
.Links{
    font-weight: normal;
    margin: 4px;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
}
.Title{
    font-size:18px;
    font-weight: 600;
    color: black;
}

@media screen and (max-width:580px) {
    .BotmFooter{
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }
}