.footer {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
}

.footerContent {
    padding: 10px;
    text-align: center; 
}
.Logo {
    color: var(--bg);
}
.text {
    color: #333;
}
.content{
    padding: 0px 20px;
}

.bold {
    font-weight: bold;
}

.large {
    font-size: large;
}

.medium {
    font-size: medium;
    
}

.socialIcons {
    display: flex;
    gap: 12px;
    justify-content: center; 
    margin-top: 10px; 
}

.icon {
    font-size: 24px;
    cursor: pointer;
}

.footerBottom {
    background-color: var(--text);
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center;
    padding: 20px;
}

.Box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px; 
}

.Line {
    border: 2px solid #000;
    width: 80%;
    margin: auto;
    opacity: 0.2;
    margin-top: 15px; 
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 20px 10px; 
    }

    .footerContent {
        padding: 10px;
    }
}

@media screen and (max-width: 430px) {
    .footerContent {
        padding: 5px 0; 
    }

    .medium {
        font-size: small;
    }

    .large {
        font-size: medium;
    }
    .footer{
        padding:20px 5px;
    }
}
@media screen and (max-width:328px){
    .Box{
        gap: 0;
    }
}