.Button{
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--text);
    padding: 8px 12px;
    background-color: var(--bg);
    margin: 25px;
    border-radius: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
    background-color: #f6f6f6;
    padding: 20px;
    width: 100%;
    margin-top: 20px;

}
.Date{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 2px 6px;
    font-weight: 600;
    font-size: 13px;
    background-color: #edf2f8;
    border-radius: 8px;
    color: var(--bg);
}
.Arrow{
    font-size:20px;
}
.Read{
    font-weight: 640;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: normal;
    text-align: left;
    color: var(--bg);
    cursor: pointer;
}
.TextDesc{
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.Card{
    border: 1.5px solid var(--bg);
    width: 20rem;
    border-radius: 16px;
}
.Text{
    padding : 20px 0px;
}

.Box{
    display: flex;
    gap: 80px;
    width: 80%;
    margin:auto;
    padding: 25px 0px;

}

.ButtonContainer{
    margin: 20px;
}

@media screen and (max-width: 360px){
    .Box{
        padding:0;
    }
}

@media screen and (max-width:768px){
    .Box{
        gap: 30px;
    }
    .Card{
        width: 19rem;
    }
}

@media screen and (max-width : 480px) {
    .Card{
        width: 18rem;
    }
}