.Button{
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--text);
    padding: 8px 12px;
    background-color: var(--bg);
    margin: 25px;
    border-radius: 8px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;
    /* background-color: #f6f6f6; */
    padding: 10px 0px;
    /* background-image: url('/images/BG.jpg'); */
    position: relative;

}
.BG1{
    position: absolute; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;  
    opacity: 0.9;
    z-index: -1;
}
.BG2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/BG.jpg');
    opacity: 0.08; 
    z-index: -1;    
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}
/* .container::before{
    content: "";
    background-image: url('/images/BG.jpg');
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2; 
    z-index: -1;
} */
.Text{
    padding : 20px 0px;
}

.Box{
    display: flex;
    padding: 24px 0px;
    width: 80%;
    margin: auto;

}

.ButtonContainer{
    margin: 20px;
}

@media screen and (max-width:360px) {
    .Box{
        padding: 0px;
    }
}